body{
    font-family: 'Segoe UI', sans-serif;
}

#hero{
    background-color: #f8fafc;
}

.form-control:focus {
    box-shadow: none;
    border-color: transparent;
}

.btn-warning {
    background-color: #ff5722;
    border: none;
}

.btn-warning:hover {
    background-color: #e64a19;
}

.fade-in {
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}